* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
body {
  position: relative;
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
}
[id] {
  scroll-margin-top: 84px;
}
@media (min-width: 992px) {
  [id] {
    scroll-margin-top: 69px;
  }
}
.hero-shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: -1;
}
.orange-color {
  color: rgb(255, 102, 0);
}
.navbar-brand {
  font-size: 2.4rem;
  text-transform: uppercase;
  font-weight: bolder;
}
.nav-link,
.navbar-toggler-icon {
  font-size: 1.8rem;
  text-transform: uppercase;
}
.navbar-toggler {
  padding: 1em 2em;
}
.home {
  position: relative;
  height: 60rem;
  background-image: url("../img/njcity.jpg");
  background-size: cover;
  background-position: center;
  z-index: 0;
}
.home .btn {
  padding: 1em 2em;
  font-size: 1.4rem;
  text-transform: uppercase;
}
.home .welcome-text {
  font-size: 2.2rem;
}

.aboutus-box h3 {
  font-size: 2.4rem;
  font-weight: bold;
  text-transform: uppercase;
}
.aboutus-icon {
  font-size: 4rem;
}
.accordion-button {
  padding: 1em;
  font-size: 1.8rem;
}

button.accordion-button:not(.collapsed) {
  color: white;
  background-color: black;
  box-shadow: none;
}

button.accordion-button:not(.collapsed),
button.accordion-button:not(.open),
button.accordion-button:not(.collapsing) {
  box-shadow: none;
}
button.accordion-button:not(.collapsed)::after {
  background-image: url(../img/chevron-up.svg);
}

.team {
  background-color: rgb(248, 248, 248);
}
.team .card-img-top {
  height: 240px;
  object-fit: cover;
}
.team .card-title {
  font-size: 2.4rem;
  /* font-weight: bold; */
  text-transform: uppercase;
}

.contact h3 {
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
}
.contact .submit-btn {
  font-size: 1.6rem;
}
.input-group input,
.input-group textarea {
  font-size: 1.4rem;
  padding: 1rem;
  box-shadow: none;
  border: none;
}
